.icons-style {
    font-size: 20px;
    font-weight: bold;
}
.icons-btn {
    padding: 5px;
    background-color: #ffff0083;
    margin-left: 10px;
}
.icons-btn.ic {
    opacity: 0;
}
.group-span:hover .icons-btn.ic {
    opacity: 1;
}
.check-con::-webkit-scrollbar {
    width: 5px;
}
.check-con::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 10px;
}
@media screen and (Max-width: 776px) {
    .icons-style {
        font-size: 15px;
    }
    .tab-group .trd:hover {
        left: -20px;
    }
}
@media screen and (max-width: 640px) {
    .icons-btn:first-child {
        margin-left: 0;
    }
    .icon-res {
        margin: 5px 0 0 0;
    }
    .trd {
        position: relative;
    }
    .trd:hover {
        transform: translateX(-50px);
    }
    .trd .trd-trash {
        border: 1px solid transparent;
        padding: 8px 10px;
        top: 3px;
    }
    .trd:hover .trd-trash {
        opacity: 1;
    }
}